name: Cross-compile Rust for AArch64

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest # Or another x86-64 runner

    steps:
    - uses: actions/checkout@v4

    - name: Install Rust toolchain
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        profile: minimal
        override: true

    - name: Install rustup
      run: sudo apt install rustup -y

    - name: update rust
      run: rustup update stable

    - name: Install cross-rs
      run: cargo install cross --git https://github.com/cross-rs/cross

    - name: Add aarch64 target
      run: rustup target add aarch64-unknown-linux-gnu

    - name: Cross-compile for aarch64
      run: cross build --release --target aarch64-unknown-linux-gnu

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: my-app-aarch64
        path: target/aarch64-unknown-linux-gnu/release/wifi-connect